* {
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 16px;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

#app {
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}